//Molecules

.contentblock {
  display: flex;
  position: relative;
  flex: 1;
  padding: 1rem;
  overflow: hidden;
  .backgroundImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &.lax {
      transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
    }
  } 
  .content {
    display: flex;
    flex: 1;
    z-index: 50;
  }
}


.vh-Height-100 {
  min-height: 100vh;
}

.vh-Height-75 {
  min-height: 75vh;
}

.vh-Height-50 {
  min-height: 50vh;
}

.vh-Height-33 {
  min-height: 33.3333330vh;
}
.vh-Height-25 {
  min-height: 25vh;
}
//Infoblock
.infoblock {
  .caption {
    .title {
      margin-bottom: 24px;
    }
    .description {
      margin-bottom: 36px;
    }
    .cta-wrapper {
      & > .btn {
        margin-right: 12px;
        margin-bottom: 12px;
      } 
      &:last-child {
        margin-right: 0px;
        margin-bottom: 0px;
      }
    }
  }
  &.infoblock-a {}
  &.infoblock-b {}
  &.infoblock-c {}
}







//Featurelist

//Gutter & flex spacing
$featurelist-gutter-width: 14px;
$featurelist-gutter-spacing: $featurelist-gutter-width * 2;

//Short
$featurelist-short-image-size: 60px;
$featurelist-short-title-size: 0.86rem;
$featurelist-short-text-size: 14px;

//Long
$featurelist-long-image-size: 70px;
$featurelist-long-title-size: 1.75rem;
$featurelist-long-text-size: 14px;


