.slick-component {
    .backgroundImage {
        position: absolute; 
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .caption {
        margin: 2.5rem;   
    }
    .slick-slide {
        position: relative;
    }
    .content {
        display: flex;
        flex: 1;
        .container {
            display: flex;
            flex-direction: column;
        }
    }
    .slick-prev, .slick-next {
        z-index: 5000;
    }
    .slick-prev {
        left: 45px;
    }
    .slick-next {
        right: 45px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
    &.vh-Height-100 {
        .slick-initialized .slick-slide {
            display: flex;
            flex: 1;
        }
        .slick-slider, .slide, .slick-list, .slick-track {
            min-height: 100vh;
        }
      }
      &.vh-Height-75 {
        .slick-initialized .slick-slide {
            display: flex;
            flex: 1;
        }
        .slick-slider, .slide, .slick-list, .slick-track {
            min-height: 75vh;
        }
      }
      &.vh-Height-50 {
        .slick-initialized .slick-slide {
            display: flex;
            flex: 1;
        }
        .slick-slider, .slide, .slick-list, .slick-track {
            min-height: 50vh;
        }
      }
      &.vh-Height-33 {
        .slick-initialized .slick-slide {
            display: flex;
            flex: 1;
        }
        .slick-slider, .slide, .slick-list, .slick-track {
            min-height: 50vh;
        }
      }
      &.vh-Height-25 {
        .slick-initialized .slick-slide {
            display: flex;
            flex: 1;
        }
        .slick-slider, .slide, .slick-list, .slick-track {
            min-height: 50vh;
        }
      }
}

.features {
    .content {
        display: block;
    }
    .featuregrid {
        display: flex;
        flex-direction: row;
        .feature {
            flex: 1;
            display: flex;
            .feature-content {
                display: flex; 
                flex-direction: column;
                padding: 1.5rem;
                .image {
                    min-height: 300px;
                    display: flex;
                    margin-bottom: 24px;
                    justify-content: center;
                    img {
                        align-self: flex-end;
                        max-height: 300px;
                    }
                }
                .caption {
                    display: flex;
                    flex-direction: column;
                    padding-top: 1.8rem; 
                    padding-bottom: 1rem;
                    .title {
                        min-height: 74px;
                        max-height: 74px;
                        align-content: bottom; 
                        display: flex;
                        align-items: flex-end;
                    }
                }
            }
        }
    }
}


.navbar {
    .navbar-nav > .nav-item{
        margin-left:12px;
        margin-right:12px;
      }
}
