body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    position: fixed; 
    z-index: 500;
}
.container {
    &.container-edge-to-edge {
        padding: 0px;
        &.row {
            margin: 0px;
        }
    }
}


.grid-flexrow {
    display: flex;
    .row {
        display: flex;
        flex: 1;
        width: 100%;
        [class|="col"] {
            display: flex;
            padding: 0px;
            > div {
                display: flex; 
                flex: 1;  
                flex-direction: column;  
                width: 100%;
            }
        }
    }
}