@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
}



<header class="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
            {
                <a class="navbar-brand" href="/"><img class="logo-image" width="50" height="50" src="@home.SiteLogo.Url" alt="@home.Sitename"></a>
            }
            else
            {
                <a class="navbar-brand" href="/">@home.Sitename</a>
            }
        @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
    </nav>

</header>