<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb313ce7-7efd-4984-8546-6156f73e5fa6" Alias="animation" Level="2">
  <Info>
    <Name>Animation</Name>
    <Icon>icon-info color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block displaying an image and caption in a custom layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e7d8dfe2-d612-4b10-a692-850f3a9f833e</Key>
      <Name>Animation</Name>
      <Alias>blockAnimation</Alias>
      <Definition>ba68a34f-7cca-472d-b343-346fa7751091</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Animation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>de7b7ce1-d0be-4730-8cb7-56f55ebc3ab8</Key>
      <Name>Animation delay</Name>
      <Alias>blockAnimationDelay</Alias>
      <Definition>cd76591c-e5cb-45af-aa03-ec185acf41fc</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Animation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>33b3cc2c-7d5a-472b-9faf-10851ee0fb3b</Key>
      <Name>Animation duration</Name>
      <Alias>blockAnimationDuration</Alias>
      <Definition>64825b4d-052a-46ad-82ee-057772bc6ced</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Animation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>02ac4c2a-4a60-4336-a4f0-e62d0f440693</Key>
      <Name>Animation Easing</Name>
      <Alias>blockAnimationEasing</Alias>
      <Definition>c1895984-d156-4768-9c75-b0e1a6058ff9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Animation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>23e36524-7626-49b1-8e57-6a428b525968</Key>
      <Name>Animation Offset</Name>
      <Alias>blockAnimationOffset</Alias>
      <Definition>17450291-3f4e-4e19-8aa1-df7ba911a843</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Animation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Animation</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>