<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37e6affc-f864-4e5c-a8a9-49a0df7e787a" Alias="aOS" Level="2">
  <Info>
    <Name>AOS</Name>
    <Icon>icon-tactics color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Animate on scroll</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53a1f660-d96b-41e2-8d40-25eff1d68a9c</Key>
      <Name>Animation</Name>
      <Alias>animation</Alias>
      <Definition>ba68a34f-7cca-472d-b343-346fa7751091</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Animate on scroll</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1c34d8ca-950f-4858-8633-e3ab405b2c13</Key>
      <Name>Delay</Name>
      <Alias>delay</Alias>
      <Definition>cd76591c-e5cb-45af-aa03-ec185acf41fc</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Animate on scroll</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1a617d25-eb61-4b62-b0da-5a600ef305aa</Key>
      <Name>Duration</Name>
      <Alias>duration</Alias>
      <Definition>64825b4d-052a-46ad-82ee-057772bc6ced</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Animate on scroll</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cdf4df5f-63e2-474b-97a0-283e2c4d4823</Key>
      <Name>Easing</Name>
      <Alias>easing</Alias>
      <Definition>c1895984-d156-4768-9c75-b0e1a6058ff9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Animate on scroll</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5e99acb9-96f9-4cb4-957b-508a9d238ab1</Key>
      <Name>Offset</Name>
      <Alias>offset</Alias>
      <Definition>17450291-3f4e-4e19-8aa1-df7ba911a843</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Animate on scroll</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Animate on scroll</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>