<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df88fa12-d85a-4e54-a7ac-f6e74852eaa6" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ee5dd08b-1710-45c0-9018-f0474c1fa069">contentBase</Composition>
      <Composition Key="b3e18ca3-684c-417c-ae7b-abc7cb358f01">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="612cc714-af3a-4fbd-87f4-54e610b6c7c5">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4f249649-85e5-4a11-ab0b-a05b278513dc" SortOrder="0">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>231e2712-4458-4573-8458-e0acb43e9d99</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a787d64d-c001-45d5-90be-91457145675d</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>howManyPostsShouldBeShown</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>