<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bca311f4-dc15-4f44-8bb6-9fcb408fad4a" Alias="callToActionComposition" Level="2">
  <Info>
    <Name>Call to action</Name>
    <Icon>icon-link color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1ff6bf82-2097-4d34-b870-48a3fea412d3</Key>
      <Name>Call to action color</Name>
      <Alias>callToActionColor</Alias>
      <Definition>717055c1-4702-4b96-ba23-b65d58adfff0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a call to action color]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Call to action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1b9769fa-aba4-4e98-ae6c-a81c8ebcfd67</Key>
      <Name>Call to action link</Name>
      <Alias>callToActionLink</Alias>
      <Definition>3b54eeea-2bf9-4721-b69f-23e98d7568f4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What link do you want the call to action to direct to]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Call to action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>406b0986-8e9f-4029-a55e-86a0c0b3a793</Key>
      <Name>Call to action size</Name>
      <Alias>callToActionSize</Alias>
      <Definition>40746da1-51c8-4f3e-930b-4017150f79e5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a style for the call to action]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Call to action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>25aa4ce7-48a1-4704-a341-0a0c3f2f40d0</Key>
      <Name>Call to action style</Name>
      <Alias>callToActionStyle</Alias>
      <Definition>35c60e1c-81fc-4207-bc7b-b4224ac662bd</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a call to action style]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Call to action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Call to action</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>