<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9734e509-b48f-4069-9ef4-7dde9a7b7601" Alias="captionComposition" Level="2">
  <Info>
    <Name>Caption</Name>
    <Icon>icon-article color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A caption composition</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b0d16cf3-73b0-4518-851f-4cdecc6ec134</Key>
      <Name>Card layout</Name>
      <Alias>cardLayout</Alias>
      <Definition>90dad792-89fc-45c5-8b88-ab46db112560</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2b868caa-9447-4efe-8a3e-b37b9e542b45</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0e2741fe-df61-49bd-b8cd-431eb629ff34</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the caption description]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f26d552e-70d6-4aec-b37a-9cf7af64e2ec</Key>
      <Name>Parallax Caption</Name>
      <Alias>parallaxCaptionEnable</Alias>
      <Definition>b91ddc23-e7a7-45b4-a302-020c34888569</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>886683e9-8b51-47c2-800f-78c70fda68ca</Key>
      <Name>Parallax preset</Name>
      <Alias>parallaxCaptionPreset</Alias>
      <Definition>61abe0e2-8249-46a7-bef2-4a9c65461de5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4889ecce-f087-44cc-97b8-75a76ce39870</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>fb3c76ae-c32e-4c0b-b5aa-b7f16930225c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[this is the title for the caption]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Caption</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>