<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2960aef-f2fe-42a2-9dda-a41ad3e16de4" Alias="contentGridDefault" Level="2">
  <Info>
    <Name>Content Grid - Default</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>ContentGridDefault</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ac39e6a2-05ab-45a2-85a8-00d43c4cf51d">ContentGridDefault</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>090e1385-3c0d-4be7-bcd9-791f061a566b</Key>
      <Name>Content Grid</Name>
      <Alias>contentGridDefaultContent</Alias>
      <Definition>4463a9de-40de-470e-9ca4-a187bacfdd50</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the default content grid]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>