<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6236eab7-b623-46fe-a4cd-ae1082b36cfe" Alias="contentImage" Level="2">
  <Info>
    <Name>Content-Image</Name>
    <Icon>icon-pictures color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An image composition with default image settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f6e7958-876b-40c5-a451-80856d2e0ceb</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image accompanying the caption]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9efb975-e279-4b4a-ac86-b3ece89a585b</Key>
      <Name>Image Alt tag</Name>
      <Alias>imageAltTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Give the image an alt tag conaining the keyword, this improves SEO]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>83b6de09-59cb-44b1-be30-c9d30be84957</Key>
      <Name>Horizontal alignment</Name>
      <Alias>imageHorizontalAlignment</Alias>
      <Definition>80b53542-ff27-4510-b99e-f76d97529874</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4c1d7ce1-42a0-4811-ac23-d0886c9de155</Key>
      <Name>Max width</Name>
      <Alias>imageMaxWidth</Alias>
      <Definition>55ec5c61-05d2-42d6-ac4e-7955e8029908</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2482cae2-87e4-456f-8a12-ac125423bd9c</Key>
      <Name>Parallax Image</Name>
      <Alias>parallaxImageEnable</Alias>
      <Definition>8f7736b7-db3e-419c-88dd-1b8b8bf4c51f</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97c4a72c-67e7-4f10-9d4a-14f124143496</Key>
      <Name>Parallax Preset</Name>
      <Alias>parallaxImagePreset</Alias>
      <Definition>61abe0e2-8249-46a7-bef2-4a9c65461de5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>