<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d696f5ab-877a-4299-a078-2ae43bc3f922" Alias="emptyPage" Level="2">
  <Info>
    <Name>UI-Elements</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EmptyPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f9de32b-4f83-4a54-a1ab-b41929c4b5d6">EmptyPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>