<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dfad98c5-e121-41a0-a392-b61156a71b23" Alias="feature" Level="2">
  <Info>
    <Name>Feature</Name>
    <Icon>icon-molecular-network color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions>
      <Composition Key="6236eab7-b623-46fe-a4cd-ae1082b36cfe">contentImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7bc4e487-bda0-4cb5-9119-a7f2bc450466</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>67814429-f004-48fb-b707-1b527fa8dc0c</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f74cb2a4-7c64-4490-8b4d-7793e25b3f4f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>44edd82f-fcfc-4b0f-8417-a042b4eb3a7f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>