<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c694a49c-7a0d-47e8-8a64-bd5c328e7ba6" Alias="features" Level="2">
  <Info>
    <Name>Features</Name>
    <Icon>icon-bulleted-list color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions>
      <Composition Key="fb313ce7-7efd-4984-8546-6156f73e5fa6">animation</Composition>
      <Composition Key="7840c4e4-735b-4fa5-b3e3-1be7027b2f12">styling</Composition>
    </Compositions>
    <DefaultTemplate>Features</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="470a0ec2-e5fd-4307-be09-4ddc6f4c46fc">Features</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88b829b2-b7fd-4715-8f99-267a9602cb20</Key>
      <Name>Card layout</Name>
      <Alias>cardLayout</Alias>
      <Definition>90dad792-89fc-45c5-8b88-ab46db112560</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>11a72afc-b528-4986-80eb-0483187cff81</Key>
      <Name>Card shadow</Name>
      <Alias>cardShadow</Alias>
      <Definition>34118fb9-4c21-4d47-84f2-08586b1c710d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>caf9098f-41e1-4a13-b3a3-29a6f343d406</Key>
      <Name>Custom class</Name>
      <Alias>customClass</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f8038f5-a1cd-47c9-9432-288f7893284a</Key>
      <Name>Feature picker</Name>
      <Alias>featurePicker</Alias>
      <Definition>fad834af-be20-463c-a640-b48122d3b88b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d557d25-42d1-4865-9f36-c33ad47fdd59</Key>
      <Name>Features - Layout Style</Name>
      <Alias>layoutStyle</Alias>
      <Definition>49ab1f9e-94e6-4fa7-b4bb-21ab63e52cc7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>