<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="931b04ad-3167-4189-9cba-fb553621e587" Alias="imageComposition" Level="2">
  <Info>
    <Name>Image</Name>
    <Icon>icon-pictures color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An image composition with default image settings</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ddd4ed3-d0db-40d2-9440-924a80d37f53</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image accompanying the caption]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ef974edc-1450-4e5e-ae8b-366803bd323e</Key>
      <Name>Image Alt tag</Name>
      <Alias>imageAltTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Give the image an alt tag conaining the keyword, this improves SEO]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c292715b-d8ec-45e1-9463-4a5da80af2b1</Key>
      <Name>Horizontal alignment</Name>
      <Alias>imageHorizontalAlignment</Alias>
      <Definition>80b53542-ff27-4510-b99e-f76d97529874</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f704192d-026a-4f9f-a58e-c92d40c3706c</Key>
      <Name>Max width</Name>
      <Alias>imageMaxWidth</Alias>
      <Definition>55ec5c61-05d2-42d6-ac4e-7955e8029908</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>56e13426-674f-4b40-8c96-84ee230c50b6</Key>
      <Name>Parallax Image</Name>
      <Alias>parallaxImageEnable</Alias>
      <Definition>8f7736b7-db3e-419c-88dd-1b8b8bf4c51f</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>82aaafbf-ccf8-4bb9-988c-d05a63c65a76</Key>
      <Name>Parallax Preset</Name>
      <Alias>parallaxImagePreset</Alias>
      <Definition>61abe0e2-8249-46a7-bef2-4a9c65461de5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>