<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ef973ac-5788-4303-8994-8e16eecdb212" Alias="infoblock" Level="2">
  <Info>
    <Name>Infoblock</Name>
    <Icon>icon-info color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block displaying an image and caption in a custom layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions>
      <Composition Key="fb313ce7-7efd-4984-8546-6156f73e5fa6">animation</Composition>
      <Composition Key="9734e509-b48f-4069-9ef4-7dde9a7b7601">captionComposition</Composition>
      <Composition Key="931b04ad-3167-4189-9cba-fb553621e587">imageComposition</Composition>
      <Composition Key="7840c4e4-735b-4fa5-b3e3-1be7027b2f12">styling</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24ebcdee-272a-491f-8dbe-a8d73583da10</Key>
      <Name>Call to action</Name>
      <Alias>callToAction</Alias>
      <Definition>d3ff43a6-b596-4812-a010-c6c8327c1230</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4631f7d4-d8f5-4527-9892-dfa792e2372e</Key>
      <Name>Call to action</Name>
      <Alias>callToActionSeperator</Alias>
      <Definition>48cfd92a-ad41-4652-9f17-0152f5a6bbec</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ebf58f25-71ef-4e3d-af9a-28ceec78b01b</Key>
      <Name>Custom class</Name>
      <Alias>customClass</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>General settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e567345f-cbb2-411d-add0-fe88d144c6d0</Key>
      <Name>Custom ID</Name>
      <Alias>customId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>General settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f2a93c64-e88a-4973-a404-557e8da26ba6</Key>
      <Name>Infoblock type</Name>
      <Alias>infoblockType</Alias>
      <Definition>f628fcb4-5612-400a-9b35-28f1c0677bd7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose how you want to display the infoblock]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>General settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Caption</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>General settings</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>