<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="903f01cb-173f-4eff-9ecb-3e3151691f13" Alias="parallax" Level="2">
  <Info>
    <Name>Parallax</Name>
    <Icon>icon-tactics color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ad05145-bde7-43ba-b2ba-78913392f8b9</Key>
      <Name>Parallax enabled</Name>
      <Alias>parallaxEnabled</Alias>
      <Definition>37d8e33b-a00d-4da3-a56b-0a610322d609</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Parallax settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f73e9c28-1934-4023-9a40-86e2864623ac</Key>
      <Name>Parallax - Horizontal</Name>
      <Alias>parallaxHorizontal</Alias>
      <Definition>63246a79-7dc9-47b2-a6c4-6ca13b11c60a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Parallax settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ead15023-aa43-40cd-834c-b4aecc67276c</Key>
      <Name>Parallax</Name>
      <Alias>parallaxSeperator</Alias>
      <Definition>59abecc2-34a1-4fba-9125-037e05b30afa</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Parallax settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>98fc42a1-135c-4c8d-9960-d58cdd7777d7</Key>
      <Name>Parallax speed</Name>
      <Alias>parallaxSpeed</Alias>
      <Definition>b99ab1c1-ba28-4996-84d3-4c5a2b72c394</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Parallax settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>21a112d5-db54-4259-a02a-9b5774471249</Key>
      <Name>Parallax - Vertical</Name>
      <Alias>parallaxVertical</Alias>
      <Definition>5b26571f-adc2-4055-be36-3c71beeefbaa</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Parallax settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Parallax settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>