<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21e56b84-da4a-4bdc-a310-adb478fa46cf" Alias="people" Level="2">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ee5dd08b-1710-45c0-9018-f0474c1fa069">contentBase</Composition>
      <Composition Key="b3e18ca3-684c-417c-ae7b-abc7cb358f01">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7fb48089-8db9-45de-b22e-3d5bfee50ded">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="586c19ab-2dd9-4832-a70c-5004703b0d71" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d8aa7291-efe0-432a-a265-d60d357216d3</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>