<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6cb10d50-9a5e-4fe3-b4a9-d2d073114c00" Alias="slickSlider" Level="2">
  <Info>
    <Name>Slick slider</Name>
    <Icon>icon-photo-album color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate>SlickSlider</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="416a7f66-f12d-47f4-bce6-862ae1f019c0">SlickSlider</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d57eebb0-e605-4a84-8626-f996be15692e</Key>
      <Name>Arrows</Name>
      <Alias>arrows</Alias>
      <Definition>d744a631-0ac1-43ce-a37d-2b92e06e2363</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show navigation arrows]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bf6d1f00-12c3-4b2c-a633-388789f92dc6</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>5d4659ec-57c6-4a24-9340-a6f5df2020dd</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5294acd9-24df-4dea-8475-9da9f86e406c</Key>
      <Name>Autoplay Speed</Name>
      <Alias>autoPlaySpeed</Alias>
      <Definition>da8b4974-27de-4660-a9dc-5c708176f400</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cc6d74ce-0225-41c3-a20a-b537bc3ec27b</Key>
      <Name>Slider background color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>36fe2a4f-039a-49d2-bdf7-043768954e83</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>866d705c-0607-413e-9acc-4e4c33e0232a</Key>
      <Name>Dots</Name>
      <Alias>dots</Alias>
      <Definition>7476fb53-8256-4539-8d2f-0d85ce70fc93</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show the navigation dots or not]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d414116f-5f84-4175-b500-9846649d9436</Key>
      <Name>Draggable</Name>
      <Alias>draggable</Alias>
      <Definition>f6c92110-252d-41ba-8625-98ca25d5d53e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2184404f-b8bd-4bb1-90be-cf2eb2e4738b</Key>
      <Name>Fade</Name>
      <Alias>fade</Alias>
      <Definition>9a11aabb-c8dd-47fb-a9b8-66b77b160356</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1cc74d95-863a-48c9-8647-bd7f49c40f9e</Key>
      <Name>Infinite</Name>
      <Alias>infinite</Alias>
      <Definition>6339972c-0eaf-4a42-aba1-5cf20cfd2dd8</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Loop through all slides]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2cd71851-48ac-4f68-82c4-753e2194bdef</Key>
      <Name>Minimum Height</Name>
      <Alias>minimumHeight</Alias>
      <Definition>d31a82d1-b787-4865-a33e-a2fcce65ddf9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d784d3f7-07c7-4755-b4d1-c52d67e3eb43</Key>
      <Name>Pause On Hover</Name>
      <Alias>pauseOnHover</Alias>
      <Definition>85dc686e-4450-4565-8740-e3ff65eb135b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1b61e969-2513-44d4-bf48-34ee483c1207</Key>
      <Name>Settings</Name>
      <Alias>settings</Alias>
      <Definition>1e19817c-33dc-4edf-b4c6-df831262a89a</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7b1d101a-f5f1-41ff-b552-550eb3045655</Key>
      <Name>Slider name</Name>
      <Alias>sliderName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7c8f1165-92fa-49f5-b1f4-354ebf2e2410</Key>
      <Name>Slider type</Name>
      <Alias>sliderType</Alias>
      <Definition>1b88b31b-2121-4b0e-8b68-5e07a75b067d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b3cc1432-d16a-4fbc-ac7b-8a5cf3990215</Key>
      <Name>Slides</Name>
      <Alias>slides</Alias>
      <Definition>77df1ef4-95f4-428b-95a6-cf04b187ffcd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dec848f5-2618-47aa-be42-189376c45051</Key>
      <Name>Swipe</Name>
      <Alias>swipe</Alias>
      <Definition>5653caac-188e-4965-b293-aa8e59bf000c</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>30d0cfa8-2949-4608-9402-c01040b0b79a</Key>
      <Name>Touchmove</Name>
      <Alias>touchmove</Alias>
      <Definition>986c4518-b2f5-427d-bd47-0366f325b475</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7ef15830-dbcc-4ab5-8c78-99c5d71628fe</Key>
      <Name>Transition speed</Name>
      <Alias>transitionSpeed</Alias>
      <Definition>5ef60003-719c-4717-98d1-32705a2f2b9e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dfda05f7-5aee-425b-93f3-087ef14a3dcf</Key>
      <Name>Vertical</Name>
      <Alias>vertical</Alias>
      <Definition>e6e5c9be-0ead-445a-a0f2-d5eafc6c3a66</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Transition vertically]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>16192303-0d66-4589-a3e8-9b2c6c1a7b90</Key>
      <Name>Vertical scrolling</Name>
      <Alias>verticalScrolling</Alias>
      <Definition>69538342-1b44-4f55-908d-1dca9f2fdc97</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Slides</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Slides</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>