<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49aa2f44-fa22-4dd2-b910-c4ad4ee80d0c" Alias="slickSlide" Level="2">
  <Info>
    <Name>Slick slide</Name>
    <Icon>icon-molecular-network color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d83d61b5-b97d-498d-b2bb-fb103e0eac97</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0ebd672c-b46b-47ec-a770-56da50b5cbf3</Key>
      <Name>Background color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>36fe2a4f-039a-49d2-bdf7-043768954e83</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0fcffd8b-acf0-4fcd-8ac5-3c7f77338c87</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>4d4190d1-ddbd-4014-9f4a-d6628957f3dc</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f2892be3-c67d-4eff-afe9-0ab3005929ca</Key>
      <Name>Content Color</Name>
      <Alias>contentColor</Alias>
      <Definition>8f13f6c4-0b28-43ea-a024-0ba83105d54a</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>91501c5a-a3ab-4244-8aca-10869d5ad745</Key>
      <Name>Content flow</Name>
      <Alias>contentFlow</Alias>
      <Definition>8de37288-1af1-4241-945d-b0b61d82639d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0945aaf0-8a45-4f79-9dc8-84786efa5764</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0e2741fe-df61-49bd-b8cd-431eb629ff34</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e729a356-9d9e-40d1-91a9-010b3f61198c</Key>
      <Name>Horizontal Alignment</Name>
      <Alias>horizontalAlignment</Alias>
      <Definition>80b53542-ff27-4510-b99e-f76d97529874</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0009e9b9-d2a6-4bb5-84a4-ac6c6233717b</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>abb46a1c-e8ba-4d3b-aec9-11f5be7cde4b</Key>
      <Name>Settings</Name>
      <Alias>settings</Alias>
      <Definition>1e19817c-33dc-4edf-b4c6-df831262a89a</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d35bf90-44f3-4cea-aaa7-5811aee95a6f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>fb3c76ae-c32e-4c0b-b5aa-b7f16930225c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9a59344d-e6a8-418c-9501-e1cc846f4c18</Key>
      <Name>Vertical Alignment</Name>
      <Alias>verticalAlignment</Alias>
      <Definition>323ea7f8-8687-4adf-97be-920779ad5d51</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Slide</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Slide</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>