<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c89e7b8-0267-4a8c-90ba-f8d2800e5323" Alias="styingPadding" Level="2">
  <Info>
    <Name>Styling-Padding</Name>
    <Icon>icon-info color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block displaying an image and caption in a custom layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d8b10e1-a139-4dc9-b9c4-81ea9bfb56a0</Key>
      <Name>Padding - Desktop</Name>
      <Alias>blockPaddingDesktop</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This determines the padding of the block]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8a46d98e-4643-4ef6-ac06-56bc6c0aae5e</Key>
      <Name>Padding - Mobile</Name>
      <Alias>blockPaddingMobile</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This padding will apply on cellphone devices]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ac353868-fd06-4973-a508-18ea5c00770a</Key>
      <Name>Padding - Tablet</Name>
      <Alias>blockPaddingTablet</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This padding will apply on tablet devices]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bf61b32d-9cde-460d-ac01-d0ef54e52474</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>5d014bcf-36e9-4dc2-8506-fa9949470de0</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styling</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>