<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b07e583b-8ffe-46ee-a476-54f7df3b8b80" Alias="stylingBackground" Level="2">
  <Info>
    <Name>Styling-Background</Name>
    <Icon>icon-info color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block displaying an image and caption in a custom layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>56af8208-64d5-4192-8bf3-010d5c3345cc</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>a3925e07-9245-4b00-bb0b-dc9f8995a95b</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e77d70d7-c034-445e-86ee-a1e38ceee88d</Key>
      <Name>Background color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>f5259715-c566-434f-9bc2-6bb3ae0ed900</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the background colour for the infoblock]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>043a28d1-0c31-4c4b-b2d9-e543268c02b1</Key>
      <Name>Background image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>e0faedcd-1527-4bef-8e15-06a8107b073c</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an image you want to display in the background]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6345a51b-012a-459c-b31c-b3404f242f9e</Key>
      <Name>Background opacity</Name>
      <Alias>backgroundOpacity</Alias>
      <Definition>bbbc13cb-b93d-480b-aa17-c2c4ad29627c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6dab4dab-764a-42bc-984a-3e7ed6e65284</Key>
      <Name>Background repeat</Name>
      <Alias>backgroundRepeat</Alias>
      <Definition>5ceb39d1-46fc-4c81-9d69-970fac5ef7b2</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bcd743c0-2f43-4290-8045-c81a0f27eb6b</Key>
      <Name>Background Size</Name>
      <Alias>backgroundSize</Alias>
      <Definition>b5e78383-8d76-4542-b0c4-020f45daa9b1</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>314eda86-49d0-4b8a-ae97-bb35a9cd5d13</Key>
      <Name>Background parallax</Name>
      <Alias>parallaxBgEnable</Alias>
      <Definition>12628023-d18b-48a1-8ecf-9c2173fd55db</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d58970f-eda4-4d86-91ae-1976fa844594</Key>
      <Name>Parallax Preset</Name>
      <Alias>parallaxBgPreset</Alias>
      <Definition>61abe0e2-8249-46a7-bef2-4a9c65461de5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cc2f6803-3ce8-483b-9cd8-639b85cde85c</Key>
      <Name>Parallax speed</Name>
      <Alias>parallaxBgSpeed</Alias>
      <Definition>b99ab1c1-ba28-4996-84d3-4c5a2b72c394</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styling</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>