<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7840c4e4-735b-4fa5-b3e3-1be7027b2f12" Alias="styling" Level="2">
  <Info>
    <Name>Styling</Name>
    <Icon>icon-info color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block displaying an image and caption in a custom layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>50f3f554-e7be-4348-9ba1-387374da1dd3</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>a3925e07-9245-4b00-bb0b-dc9f8995a95b</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bb5a2b22-21b5-46af-87a3-6378f387357b</Key>
      <Name>Background color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>f5259715-c566-434f-9bc2-6bb3ae0ed900</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the background colour for the infoblock]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>36fde417-b685-4265-a291-c60c0a7e8614</Key>
      <Name>Background image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>e0faedcd-1527-4bef-8e15-06a8107b073c</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an image you want to display in the background]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c196f243-3a5f-4085-86f3-800b3d4658d4</Key>
      <Name>Background opacity</Name>
      <Alias>backgroundOpacity</Alias>
      <Definition>bbbc13cb-b93d-480b-aa17-c2c4ad29627c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>82781933-e08c-4d48-9c5d-3da774126886</Key>
      <Name>Background repeat</Name>
      <Alias>backgroundRepeat</Alias>
      <Definition>5ceb39d1-46fc-4c81-9d69-970fac5ef7b2</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ebca08e2-6145-41c2-880c-dc78f0f2ab23</Key>
      <Name>Background Size</Name>
      <Alias>backgroundSize</Alias>
      <Definition>b5e78383-8d76-4542-b0c4-020f45daa9b1</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c1ebeb8c-a28c-4f01-b036-62a1630d6456</Key>
      <Name>Padding - Desktop</Name>
      <Alias>blockPaddingDesktop</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This determines the padding of the block]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5604de69-2905-4239-9757-aa261fadf9f5</Key>
      <Name>Padding - Mobile</Name>
      <Alias>blockPaddingMobile</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This padding will apply on cellphone devices]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1ae5aa0b-522b-439c-a842-a3c4c4fe9cd6</Key>
      <Name>Padding - Tablet</Name>
      <Alias>blockPaddingTablet</Alias>
      <Definition>136cf489-6591-4dc2-aa52-16cafbca6d73</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This padding will apply on tablet devices]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c76fc17d-8377-4782-9306-721bcc45af9b</Key>
      <Name>Container size</Name>
      <Alias>containerSize</Alias>
      <Definition>6a4f1fe8-9c96-4e19-be7e-9533e9e06bfa</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This defines the inner container size]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>94ea29f6-fc8a-44f4-907e-37be07d26ad6</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>4d4190d1-ddbd-4014-9f4a-d6628957f3dc</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>69480702-d4a4-403c-9ad1-0b80850a83c1</Key>
      <Name>Content color</Name>
      <Alias>contentColor</Alias>
      <Definition>8f13f6c4-0b28-43ea-a024-0ba83105d54a</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will determine the color of the text]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>33381e5f-ccf8-4f21-85d0-1b99d43754fd</Key>
      <Name>Content flow</Name>
      <Alias>contentFlow</Alias>
      <Definition>8de37288-1af1-4241-945d-b0b61d82639d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The position of content elements in releation to each other]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cda06643-a457-4aec-ab84-86f6a52d934b</Key>
      <Name>Minimum height</Name>
      <Alias>minimumHeight</Alias>
      <Definition>d31a82d1-b787-4865-a33e-a2fcce65ddf9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Minimum height in relation to the viwport.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>21ffad73-7de8-49df-8bc6-2734389fc9b0</Key>
      <Name>Padding</Name>
      <Alias>padding</Alias>
      <Definition>5d014bcf-36e9-4dc2-8506-fa9949470de0</Definition>
      <Type>Our.Umbraco.Matryoshka.GroupSeparator</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>71df75d8-2305-4ea5-aced-1458438f39b0</Key>
      <Name>Background parallax</Name>
      <Alias>parallaxBgEnable</Alias>
      <Definition>12628023-d18b-48a1-8ecf-9c2173fd55db</Definition>
      <Type>Our.Umbraco.CdCheckbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6a94778a-86fd-4a0e-8a84-6fa85b57cd8e</Key>
      <Name>Parallax Preset</Name>
      <Alias>parallaxBgPreset</Alias>
      <Definition>61abe0e2-8249-46a7-bef2-4a9c65461de5</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>972a4975-6aed-4b61-b823-60c6b44636c6</Key>
      <Name>Parallax speed</Name>
      <Alias>parallaxBgSpeed</Alias>
      <Definition>b99ab1c1-ba28-4996-84d3-4c5a2b72c394</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1f6a0ff4-107c-4d94-b7b2-51b4fa11436f</Key>
      <Name>Vertical alignment</Name>
      <Alias>verticalAlignment</Alias>
      <Definition>323ea7f8-8687-4adf-97be-920779ad5d51</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The vertical alignment of the total content block]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Styling</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Styling</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>