/*btn-oath*/
.component-oath {
    display: flex;
    justify-content: center;

    .btn-oath {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background: $accentc;
        font-size: 28px;
        color: $white;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-office {
        background-color: #EB3C00;
    }

    .btn-facebook {
        background-color: #3C5A99;
    }

    .btn-Google {
        background-color: #1D87F8;
    }

    .btn-Smartschool {
        background-color: #F70500;
    }
}
