.main-cover {
    padding: 33px 60px;
    position: relative;
    min-height: 100%;
    @media (max-width: 1537px) {
        .btn.tex-size-22 {
            font-size: 20px !important; 
        }
        .text-white.text-size-24 {
            font-size: 20px !important;
        }
        .text-size-22 {
            font-size: 20px !important;
        }
    }
    @media (max-width: 1537px) {padding: 33px;}  
    h1 {
        @media (max-width: 1537px) {font-size: 40px;}  
        @include media-breakpoint-down(md) {
            font-size: 36px !important;
        }
    }
    h2 {
        @media (max-width: 1537px) {font-size: 34px;}  
    }
    @media (max-width: 1537px) {
        .header .logo a img {
            max-width: 210px;
        }
        img.animated-svg {
            max-width: 200px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .form-control-lg {
            height: calc(1.26em + 1.5rem + 2px);
            padding: 0.75rem 1.5rem;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.26;
        }
        .btn.text-size-22 {
            font-size: 1rem !important;
        }
        .btn-lg {
            padding: 0.6875rem 1.4375rem;
            font-size: 1rem !important;
            line-height: 1.3125;
        }
        .btn-back {
            width: 47px;
            height: 47px;
            > svg {
                width: 30px;
                height: 30px;
                margin-left: -14px;
                margin-top: -5px;
            }
        }
        .custom-control {
            margin-left: 10px;
            margin-bottom: 0.75rem !important;
        }
        .custom-control-label {
            font-size: 0.9375rem !important;
            line-height: 1.75;
            padding-left: 5px !important;
        }
    }
}
.header {
    display: flex;
    justify-content: space-between;
}
.headtxt {
    margin-bottom: 30px;
    @media (max-width: 1537px) {margin-top: 20px !important;} 
    @include media-breakpoint-down(md) {
        margin-top: 40px !important;
    }
    p {
        color: $clr-tertiary;
        font-size: 24px;
        @media (max-width: 1537px) {font-size: 20px;} 
    }

    .steps {
        display: flex;
        justify-content: center;
    }

    .step {
        height: 10px;
        width: 10px;
        border: 1px solid $white;
        border-radius: 15px;
    }

    .activestep {
        background-color: $warning;
    }

    .completed {
        background-color: $clr-accenta;
        border: 1px solid $clr-accenta;
    }
}

@include media-breakpoint-down(md) {
    .headtxt p {
        font-size: 21px;
    }
}
@include media-breakpoint-down(sm) {
    .main-cover {
        padding: 25px 15px;
    }
}

@include media-breakpoint-down(xs) {
    .headtxt p {
        font-size: 18px;
    }
}