.video-placeholder {
    border: 1px solid $quaternary;
    padding: 2rem;
    height: 190px;
    display: flex;
    background-color: $quinary;
    align-items: center;
    justify-content: center;

    .bg-circle {
        background-color: #fff;
        height: 65px;
        box-shadow: 0px 3px 5px 0px #ccc;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            margin-left: 5px;
        }
    }
}