$icomoon-font-family: "lhicon" !default;
$icomoon-font-path: "../fonts" !default;

$lh-icon-app-3dcontent: "\e900";
$lh-icon-app-academy: "\e901";
$lh-icon-app-activities: "\e902";
$lh-icon-app-activitybuilder: "\e903";
$lh-icon-app-annotate: "\e904";
$lh-icon-app-apps: "\e905";
$lh-icon-app-audio: "\e906";
$lh-icon-app-camera: "\e907";
$lh-icon-app-collaborate: "\e908";
$lh-icon-app-colourfill: "\e909";
$lh-icon-app-compass: "\e90a";
$lh-icon-app-deletedrawing: "\e90b";
$lh-icon-app-eraser: "\e90c";
$lh-icon-app-extras: "\e90d";
$lh-icon-app-filesharing: "\e90e";
$lh-icon-app-geotriangle: "\e90f";
$lh-icon-app-graph-1: "\e910";
$lh-icon-app-graph-2: "\e911";
$lh-icon-app-graph-3: "\e912";
$lh-icon-app-graph-4: "\e913";
$lh-icon-app-graph-5: "\e914";
$lh-icon-app-hashtag: "\e915";
$lh-icon-app-help: "\e916";
$lh-icon-app-iframepointer: "\e917";
$lh-icon-app-image: "\e918";
$lh-icon-app-insert: "\e919";
$lh-icon-app-integrations: "\e91a";
$lh-icon-app-lessons-1: "\e91b";
$lh-icon-app-lessons-2: "\e91c";
$lh-icon-app-link: "\e91d";
$lh-icon-app-list: "\e91e";
$lh-icon-app-marker: "\e91f";
$lh-icon-app-marketplace: "\e920";
$lh-icon-app-mathtools: "\e921";
$lh-icon-app-multitool: "\e922";
$lh-icon-app-multiuser: "\e923";
$lh-icon-app-opacity: "\e924";
$lh-icon-app-pen: "\e926";
$lh-icon-app-pencil: "\e927";
$lh-icon-app-pipet: "\e928";
$lh-icon-app-pointer: "\e929";
$lh-icon-app-qr: "\e92a";
$lh-icon-app-quickquiz: "\e92b";
$lh-icon-app-ruler: "\e92c";
$lh-icon-app-sessionsharing: "\e92d";
$lh-icon-app-shape-arrow: "\e92e";
$lh-icon-app-shape-bubble: "\e92f";
$lh-icon-app-shape-cilinder: "\e930";
$lh-icon-app-shape-circle: "\e931";
$lh-icon-app-shape-cube: "\e932";
$lh-icon-app-shape-curve: "\e933";
$lh-icon-app-shape-diamond: "\e934";
$lh-icon-app-shape-divide: "\e935";
$lh-icon-app-shape-ellipse: "\e936";
$lh-icon-app-shape-halfcircle: "\e937";
$lh-icon-app-shape-hexagon: "\e938";
$lh-icon-app-shape-line-app: "\e939";
$lh-icon-app-shape-parallellogram: "\e93a";
$lh-icon-app-shape-pentagon: "\e93b";
$lh-icon-app-shape-pyramid: "\e93c";
$lh-icon-app-shape-rectangle: "\e93d";
$lh-icon-app-shapes: "\e93e";
$lh-icon-app-shape-square: "\e93f";
$lh-icon-app-shape-star: "\e940";
$lh-icon-app-shape-trapezium: "\e941";
$lh-icon-app-shape-triangle-1: "\e942";
$lh-icon-app-shape-triangle-2: "\e943";
$lh-icon-app-shape-triangle-3: "\e944";
$lh-icon-app-spotlight: "\e945";
$lh-icon-app-sticky: "\e946";
$lh-icon-app-strokes: "\e947";
$lh-icon-app-styles-default: "\e948";
$lh-icon-app-styles-document: "\e949";
$lh-icon-app-styles-personal: "\e94a";
$lh-icon-app-table: "\e94b";
$lh-icon-app-templates: "\e94c";
$lh-icon-app-templates-1: "\e94d";
$lh-icon-app-thumbsdown: "\e94e";
$lh-icon-app-thumbsup: "\e94f";
$lh-icon-app-type: "\e950";
$lh-icon-app-type-aligncenter: "\e951";
$lh-icon-app-type-alignleft: "\e952";
$lh-icon-app-type-alignright: "\e953";
$lh-icon-app-type-bold: "\e954";
$lh-icon-app-type-italic: "\e955";
$lh-icon-app-type-underline: "\e956";
$lh-icon-app-validation-check: "\e957";
$lh-icon-app-validation-cross: "\e958";
$lh-icon-app-video: "\e959";
$lh-icon-os-100-1: "\e95a";
$lh-icon-os-100-2: "\e95b";
$lh-icon-os-add: "\e95c";
$lh-icon-os-allfiles: "\e95d";
$lh-icon-os-back: "\e95e";
$lh-icon-os-caret-down: "\e95f";
$lh-icon-os-caret-left: "\e960";
$lh-icon-os-caret-right: "\e961";
$lh-icon-os-caret-up: "\e962";
$lh-icon-os-close: "\e963";
$lh-icon-os-collapse: "\e964";
$lh-icon-os-delete: "\e965";
$lh-icon-os-document: "\e966";
$lh-icon-os-document-empty: "\e967";
$lh-icon-os-down: "\e968";
$lh-icon-os-drag: "\e969";
$lh-icon-os-duplicate: "\e96a";
$lh-icon-os-expand: "\e96b";
$lh-icon-os-expand-2: "\e96c";
$lh-icon-os-export: "\e96d";
$lh-icon-os-fileexplorer: "\e96e";
$lh-icon-os-filter: "\e96f";
$lh-icon-os-filter-erase: "\e970";
$lh-icon-os-folder-1: "\e973";
$lh-icon-os-forward: "\e974";
$lh-icon-os-fullscreen: "\e975";
$lh-icon-os-hamburger: "\e976";
$lh-icon-os-home: "\e977";
$lh-icon-os-image: "\e978";
$lh-icon-os-import: "\e979";
$lh-icon-os-livechat: "\e97a";
$lh-icon-os-minimize: "\e97b";
$lh-icon-os-minus: "\e97c";
$lh-icon-os-movedown: "\e97d";
$lh-icon-os-moveup: "\e97e";
$lh-icon-os-move-view: "\e97f";
$lh-icon-os-myfiles: "\e980";
$lh-icon-os-navigateitems: "\e981";
$lh-icon-os-new: "\e982";
$lh-icon-os-newfolder: "\e983";
$lh-icon-os-open: "\e984";
$lh-icon-os-pagesettings: "\e985";
$lh-icon-os-play: "\e986";
$lh-icon-os-plus: "\e987";
$lh-icon-os-redo: "\e988";
$lh-icon-os-return: "\e989";
$lh-icon-os-save: "\e98a";
$lh-icon-os-saveas: "\e98b";
$lh-icon-os-search: "\e98c";
$lh-icon-os-selection-delete: "\e98d";
$lh-icon-os-selection-moreoptions: "\e98e";
$lh-icon-os-selection-move: "\e98f";
$lh-icon-os-selection-renew: "\e990";
$lh-icon-os-selection-rotate: "\e991";
$lh-icon-os-selection-scale: "\e992";
$lh-icon-os-send: "\e993";
$lh-icon-os-settings: "\e994";
$lh-icon-os-settings-1: "\e995";
$lh-icon-os-settings-2: "\e996";
$lh-icon-os-settings-3: "\e997";
$lh-icon-os-share: "\e998";
$lh-icon-os-shrink: "\e999";
$lh-icon-os-signout: "\e99a";
$lh-icon-os-stop: "\e99b";
$lh-icon-os-support: "\e99c";
$lh-icon-os-touch-1: "\e99d";
$lh-icon-os-touch-2: "\e99e";
$lh-icon-os-undo: "\e99f";
$lh-icon-os-up: "\e9a0";
$lh-icon-os-zoomin: "\e9a1";
$lh-icon-os-zoomout: "\e9a2";
$lh-icon-os-zoom-region: "\e9a3";
$lh-icon-service-americanexpress: "\e9a4";
$lh-icon-service-bookwidgets: "\e9a5";
$lh-icon-service-creditcard: "\e9a6";
$lh-icon-service-dropbox: "\e9a7";
$lh-icon-service-facebook: "\e9a8";
$lh-icon-service-google: "\e9a9";
$lh-icon-service-googledrive: "\e9aa";
$lh-icon-service-mastercard: "\e9ab";
$lh-icon-service-office365: "\e9ac";
$lh-icon-service-onedrive: "\e9ad";
$lh-icon-service-paypal: "\e9ae";
$lh-icon-service-smartschool: "\e9af";
$lh-icon-service-twitter: "\e9b0";
$lh-icon-service-visa: "\e9b1";
$lh-icon-service-windows: "\e9b2";
$lh-icon-service-wiretransfer: "\e9b3";
$lh-icon-user-admin: "\e9b4";
$lh-icon-user-alert-notification: "\e9b5";
$lh-icon-user-bookmark: "\e9b6";
$lh-icon-user-clock: "\e9b7";
$lh-icon-user-followers: "\e9b8";
$lh-icon-user-invite: "\e9b9";
$lh-icon-user-link: "\e9ba";
$lh-icon-user-linkedaccounts: "\e9bb";
$lh-icon-user-location: "\e9bc";
$lh-icon-user-lock: "\e9bd";
$lh-icon-user-mail: "\e9be";
$lh-icon-user-payment-subscription: "\e9bf";
$lh-icon-user-preferences: "\e9c0";
$lh-icon-user-preferences-1: "\e9c1";
$lh-icon-user-rating-0: "\e9c2";
$lh-icon-user-rating-1: "\e9c3";
$lh-icon-user-rating-2: "\e9c4";
$lh-icon-user-rating-3: "\e9c5";
$lh-icon-user-rating-4: "\e9c6";
$lh-icon-user-rating-5: "\e9c7";
$lh-icon-user-tour: "\e9c8";
$lh-icon-user-unlock: "\e9c9";
$lh-icon-user-user: "\e9ca";
$lh-icon-user-views: "\e9cb";

