@import "../atoms/ratio-box";
@import "../atoms/color-box";

.box-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    .tile {
        flex: 0 0 16.6667%;
        @media (max-width: 1367px) {flex: 0 0 20%;}  
        text-align: center;
        color: $secondary;
        margin-bottom: 1.2rem;
        cursor: pointer;
        height: 170px;
        flex-direction: column;
        .descr {
            margin-top: 15px;
            font-size: 13px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
