.sidebars-left {
    // position: absolute; 
    // left: 0;
    // top: 0;
    // bottom: 0;
    // z-index: 500;
}

.tool-sidebar {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 100%;
    background-color: #F5F9FC;
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);

    .header {
        background-color: #fff;
        flex: 0 0 90px;
        padding: 1rem;
        display: flex;
        align-items: center;
        color: #4F6694;
        position: relative;

        .title {
            font-family: JosefinSans-SemiBold;
            font-size: 22px;
            display: flex;
            align-items: center;
            flex: 1;

            [class^="lh-icon-"] {
                font-size: 48px;
                margin-right: 10px;
                position: relative;
            }
        }

        .collapse-btn, .close-btn, .sidebar-btn {
            font-size: 35px;
            margin-right: 5px;
            color: #BFD0E8;
            text-decoration: none !important;
            opacity: 0.70;
            &:hover, &:focus, &:active {
                opacity: 1;
            }
            &.active {
                color: $clr-secondary;
            }
        }
    }

    .body {
        background-color: #F5F9FC;
        flex: 1;
        overflow: auto;
    }

    .footer {
        background-color: #fff;
        flex: 0 0 80px;
        border-top: 1px solid #BFD0E8;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        padding-right: 0.5rem;

        a {
            text-decoration: none;
        }

        [class^="lh-icon-"] {
            color: #ACB5DA;
            font-size: 38px;
            margin-left: 10px;
            opacity: 0.80;
            &:hover, &:focus, &:active {
                opacity: 1;
            }
        }
    }

    &.tooloptions-collapsed {
        max-width: 84px;
        .styles-panel-bg{
            padding: 10px;
            justify-content: center;
        }
        .colors-swatch {
            margin: 0px;
            padding: 0px;
            justify-content: center;
            margin-top: 0px;
            .color {
                width: 32px;
                height: 32px;
            }
        }
        .header {
            padding: 1rem 0.25rem;
            justify-content: center;

            .title [class^="lh-icon-"] {
                font-size: 64px;
                margin-right: 0;
                top: 0;
            }
        }

        .footer {
            justify-content: center;
            display: flex;
        }

        .panel-header {
            padding: .25rem 0rem;
            justify-content: center;
            display: flex;

            a {
                [class^="lh-icon-"] {
                    font-size: 52px;
                    margin-right: 0;
                    top: 0;
                }

                &:after {
                    display: none;
                }
            }
        }
        .style-dropdowns {
            margin-right: 0px;
            margin-left: 0px;
            padding-bottom: 5px !important;
            border-bottom-style: solid; 
            border-bottom-width: 1px;
            border-bottom-color: rgba($quaternary, 0.5);
            margin-bottom: 10px;
            padding: 0px;
            select {
                padding-left: 8px;
                padding-right: 5px;
                background-position: right 0.5rem center;
                font-size: 12px;
            }
        }

        .style-dropdowns, .slidecontainer, .footer-tools, .title, .title-text, .font-style {
            display: none;
        }

        .active-color {
            flex-direction: column;
            margin: 0px;
            padding-bottom: 12px;
            border-bottom-style: solid; 
            border-bottom-width: 1px;
            border-bottom-color: rgba($quaternary, 0.5);
            margin-bottom: 10px;
            .stroke-selected {
                margin-left: 0px !important;
            }
            .fill-selected, .stroke-selected {
                width: 56px;
                height: 56px;
            }
        }

        // .styles-panel-bg {
        //     padding: 0.2rem;

        //     .fill-selected {
        //         width: 35px;
        //         height: 35px;
        //     }

        //     .stroke-selected {
        //         width: 28px;
        //         height: 28px;
        //         margin-left: -15px;
        //         margin-top: 30px;
        //     }

        //     .stroke-overlay {
        //         height: 22px;
        //         width: 22px;
        //         top: 3px;
        //         left: 3px;
        //     }
        // }
    }
}

.tool-sidebar {
    &.tooloptions-writing-sidebar {}
    &.tooloptions-typing-sidebar {}
    &.pagenav-sidebar {
        z-index: 50;
        position: relative;
        .footer {
            padding-right: 1.5rem;
            [class^=lh-icon-] {
                font-size: 43px;
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 1536px) {
    .tool-sidebar {
        width: 350px;
        .header {
            background-color: #fff;
            flex: 0 0 45px;
            padding: 0.5rem;
            .title {
                font-size: 18px;
                [class^="lh-icon-"] {
                    font-size: 34px;
                    margin-right: 10px;
                }
            }
            .collapse-btn, .close-btn {
                right: 15px;
            }
            .collapse-btn {
                font-size: 20px;
            }
        }
        .footer {
            flex: 0 0 80px;
            padding-right: 0.5rem;
            [class^="lh-icon-"] {
                font-size: 38px;
                margin-left: 10px;
            }
        }
        &.tooloptions-collapsed {
            max-width: 65px;
            box-shadow: none;
            border-right-style: solid; 
            border-right-width: 1px;
            border-right-color: rgba($clr-quaternary, 0.50);
            .header {
                flex: 0 0 45px;
                padding: 0.50rem 0.25rem;
                .title [class^="lh-icon-"] {
                    font-size: 38px;
                }
            }
            .body {
                background-color: white;
            }
            .active-color {
                .fill-selected, .stroke-selected {
                    width: 45px;
                    height: 45px;
                }
            }
            .panel-header {
                padding: .25rem 0rem;
    
                a {
                    [class^="lh-icon-"] {
                        font-size: 45px;
                    }
                }
            }
    
            // .styles-panel-bg {
            //     padding: 0.2rem;
    
            //     .fill-selected {
            //         width: 32px;
            //         height: 32px;
            //     }
    
            //     .stroke-selected {
            //         width: 28px;
            //         height: 28px;
            //         margin-left: -15px;
            //         margin-top: 30px;
            //     }
    
            //     .stroke-overlay {
            //         height: 22px;
            //         width: 22px;
            //         top: 3px;
            //         left: 3px;
            //     }
            // }
        }
    }   
}