<?xml version="1.0" encoding="utf-8"?>
<DataType Key="323ea7f8-8687-4adf-97be-920779ad5d51" Alias="Alignment - vertical" Level="2">
  <Info>
    <Name>Alignment - vertical</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Alignment</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "top"
    },
    {
      "id": 2,
      "value": "bottom"
    },
    {
      "id": 3,
      "value": "center"
    }
  ]
}]]></Config>
</DataType>