<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80b53542-ff27-4510-b99e-f76d97529874" Alias="Alignment - Horizontal" Level="2">
  <Info>
    <Name>Alignment - Horizontal</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Alignment</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "center"
    },
    {
      "id": 2,
      "value": "left"
    },
    {
      "id": 3,
      "value": "right"
    }
  ]
}]]></Config>
</DataType>