<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba68a34f-7cca-472d-b343-346fa7751091" Alias="AOS - Animation" Level="2">
  <Info>
    <Name>AOS - Animation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>AOS</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "fade"
    },
    {
      "id": 2,
      "value": "fade-up"
    },
    {
      "id": 3,
      "value": "fade-down"
    },
    {
      "id": 4,
      "value": "fade-left"
    },
    {
      "id": 5,
      "value": "fade-right"
    },
    {
      "id": 6,
      "value": "fade-up-right"
    },
    {
      "id": 7,
      "value": "fade-up-left"
    },
    {
      "id": 8,
      "value": "fade-down-right"
    },
    {
      "id": 9,
      "value": "fade-down-left"
    },
    {
      "id": 10,
      "value": "flip-up"
    },
    {
      "id": 11,
      "value": "flip-down"
    },
    {
      "id": 12,
      "value": "flip-left"
    },
    {
      "id": 13,
      "value": "flip-right"
    },
    {
      "id": 14,
      "value": "slide-up"
    },
    {
      "id": 15,
      "value": "slide-down"
    },
    {
      "id": 16,
      "value": "slide-left"
    },
    {
      "id": 17,
      "value": "slide-right"
    },
    {
      "id": 18,
      "value": "zoom-in"
    },
    {
      "id": 19,
      "value": "zoom-in-up"
    },
    {
      "id": 20,
      "value": "zoom-in-down"
    },
    {
      "id": 21,
      "value": "zoom-in-left"
    },
    {
      "id": 22,
      "value": "zoom-in-right"
    },
    {
      "id": 23,
      "value": "zoom-out"
    },
    {
      "id": 24,
      "value": "zoom-out-up"
    },
    {
      "id": 25,
      "value": "zoom-out-down"
    },
    {
      "id": 26,
      "value": "zoom-out-left"
    },
    {
      "id": 27,
      "value": "zoom-out-right"
    }
  ]
}]]></Config>
</DataType>