<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64825b4d-052a-46ad-82ee-057772bc6ced" Alias="AOS - Duration" Level="2">
  <Info>
    <Name>AOS - Duration</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>AOS</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 100.0,
  "InitialValue2": 0.0,
  "MinimumValue": 100.0,
  "MaximumValue": 500.0,
  "StepIncrements": 50.0
}]]></Config>
</DataType>