<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd76591c-e5cb-45af-aa03-ec185acf41fc" Alias="AOS - Delay" Level="2">
  <Info>
    <Name>AOS - Delay</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>AOS</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 100.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 1000.0,
  "StepIncrements": 50.0
}]]></Config>
</DataType>