<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ceb39d1-46fc-4c81-9d69-970fac5ef7b2" Alias="Background repeat" Level="1">
  <Info>
    <Name>Background repeat</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "repeat-x"
    },
    {
      "id": 2,
      "value": "repeat-y"
    },
    {
      "id": 3,
      "value": "no-repeat"
    }
  ]
}]]></Config>
</DataType>