<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d31a82d1-b787-4865-a33e-a2fcce65ddf9" Alias="Block-Viewport height" Level="2">
  <Info>
    <Name>Block-Viewport height</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Height-25"
    },
    {
      "id": 2,
      "value": "Height-33"
    },
    {
      "id": 3,
      "value": "Height-50"
    },
    {
      "id": 4,
      "value": "Height-75"
    },
    {
      "id": 5,
      "value": "Height-100"
    }
  ]
}]]></Config>
</DataType>