<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35c60e1c-81fc-4207-bc7b-b4224ac662bd" Alias="Call to action - Call to action style - Dropdown" Level="2">
  <Info>
    <Name>Call to action - Call to action style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "outline-"
    }
  ]
}]]></Config>
</DataType>