<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b54eeea-2bf9-4721-b69f-23e98d7568f4" Alias="Call to action - Call to action link - Multi Url Picker" Level="2">
  <Info>
    <Name>Call to action - Call to action link - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>