<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3ff43a6-b596-4812-a010-c6c8327c1230" Alias="Call to action - Picker" Level="2">
  <Info>
    <Name>Call to action - Picker</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callToActionComposition",
      "ncTabAlias": "Call to action",
      "nameTemplate": "CTA - {{$index}} - {{ linktitle }}"
    }
  ],
  "MinItems": null,
  "MaxItems": 4,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>