<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb3c76ae-c32e-4c0b-b5aa-b7f16930225c" Alias="Caption - Caption Title - Textbox" Level="2">
  <Info>
    <Name>Caption - Caption Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Caption</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200
}]]></Config>
</DataType>