<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0abcf2e9-ebc2-46de-85a8-7bcfad864533" Alias="Caption - Caption description - Textarea" Level="2">
  <Info>
    <Name>Caption - Caption description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Caption</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 500,
  "Rows": null
}]]></Config>
</DataType>