<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34118fb9-4c21-4d47-84f2-08586b1c710d" Alias="Card shadow - Dropdown" Level="1">
  <Info>
    <Name>Card shadow - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "shadow-1"
    },
    {
      "id": 2,
      "value": "shadow-2"
    },
    {
      "id": 3,
      "value": "shadow-3"
    },
    {
      "id": 4,
      "value": "shadow-4"
    },
    {
      "id": 5,
      "value": "shadow-5"
    }
  ]
}]]></Config>
</DataType>