<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90dad792-89fc-45c5-8b88-ab46db112560" Alias="Card layout - Checkbox" Level="1">
  <Info>
    <Name>Card layout - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Card layout"
}]]></Config>
</DataType>