<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36fe2a4f-039a-49d2-bdf7-043768954e83" Alias="Choose a background color" Level="2">
  <Info>
    <Name>Choose a background color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"fefefe\",\"label\":\"fefefe\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ]
}]]></Config>
</DataType>