<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5259715-c566-434f-9bc2-6bb3ae0ed900" Alias="Colorpicker - Bootstrap" Level="2">
  <Info>
    <Name>Colorpicker - Bootstrap</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"2c2b63\",\"label\":\"Primary\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e5007e\",\"label\":\"Secondary\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"00a099\",\"label\":\"Tertiary\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"f8b133\",\"label\":\"Quaternary\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"f8f9fa\",\"label\":\"Gray-100\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    }
  ]
}]]></Config>
</DataType>