<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a4f1fe8-9c96-4e19-be7e-9533e9e06bfa" Alias="Container-size" Level="2">
  <Info>
    <Name>Container-size</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "container"
    },
    {
      "id": 2,
      "value": "container-fluid"
    },
    {
      "id": 3,
      "value": "container-edge-to-edge"
    }
  ]
}]]></Config>
</DataType>