<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d4190d1-ddbd-4014-9f4a-d6628957f3dc" Alias="Content" Level="2">
  <Info>
    <Name>Content</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Seperators</Folder>
  </Info>
  <Config><![CDATA[{
  "anchor": "0",
  "collapsible": "collapsibleOpenOnCreation"
}]]></Config>
</DataType>