<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8de37288-1af1-4241-945d-b0b61d82639d" Alias="Content flow" Level="2">
  <Info>
    <Name>Content flow</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "left-to-right"
    },
    {
      "id": 2,
      "value": "right-to-left"
    },
    {
      "id": 3,
      "value": "top-to-bottom"
    },
    {
      "id": 4,
      "value": "bottom-to-top"
    }
  ]
}]]></Config>
</DataType>