<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f13f6c4-0b28-43ea-a024-0ba83105d54a" Alias="Content - Color" Level="2">
  <Info>
    <Name>Content - Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"898989\",\"label\":\"Gray\"}"
    }
  ]
}]]></Config>
</DataType>