<?xml version="1.0" encoding="utf-8"?>
<DataType Key="717055c1-4702-4b96-ba23-b65d58adfff0" Alias="CTA - Color" Level="2">
  <Info>
    <Name>CTA - Color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "primary"
    },
    {
      "id": 2,
      "value": "secondary"
    },
    {
      "id": 3,
      "value": "tertiary"
    },
    {
      "id": 4,
      "value": "light"
    },
    {
      "id": 5,
      "value": "dark"
    }
  ]
}]]></Config>
</DataType>