<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40746da1-51c8-4f3e-930b-4017150f79e5" Alias="CTA - Size" Level="2">
  <Info>
    <Name>CTA - Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "btn-lg"
    },
    {
      "id": 2,
      "value": "btn-sm"
    }
  ]
}]]></Config>
</DataType>