<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1895984-d156-4768-9c75-b0e1a6058ff9" Alias="Easing" Level="1">
  <Info>
    <Name>Easing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "linear"
    },
    {
      "id": 2,
      "value": "ease"
    },
    {
      "id": 3,
      "value": "ease-in"
    },
    {
      "id": 4,
      "value": "ease-out"
    },
    {
      "id": 5,
      "value": "ease-in-out"
    },
    {
      "id": 6,
      "value": "ease-in-back"
    },
    {
      "id": 7,
      "value": "ease-in-out-back"
    },
    {
      "id": 8,
      "value": "ease-in-sine"
    },
    {
      "id": 9,
      "value": "ease-in-out-sine"
    },
    {
      "id": 10,
      "value": "ease-in-quad"
    },
    {
      "id": 11,
      "value": "ease-out-quad"
    },
    {
      "id": 12,
      "value": "ease-in-out-quad"
    },
    {
      "id": 13,
      "value": "ease-in-cubic"
    },
    {
      "id": 14,
      "value": "ease-out-cubic"
    },
    {
      "id": 15,
      "value": "ease-in-out-cubic"
    },
    {
      "id": 16,
      "value": "ease-in-quart"
    },
    {
      "id": 17,
      "value": "ease-out-quart"
    },
    {
      "id": 18,
      "value": "ease-in-out-quart"
    }
  ]
}]]></Config>
</DataType>