<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49ab1f9e-94e6-4fa7-b4bb-21ab63e52cc7" Alias="Features - Layout style" Level="1">
  <Info>
    <Name>Features - Layout style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "horizontal"
    },
    {
      "id": 2,
      "value": "vertical"
    },
    {
      "id": 3,
      "value": "vertical-compact"
    }
  ]
}]]></Config>
</DataType>