<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67814429-f004-48fb-b707-1b527fa8dc0c" Alias="Feature - Description" Level="2">
  <Info>
    <Name>Feature - Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Feature</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>