<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90f7a7e3-1482-4fb0-ac4d-90adc0a925b2" Alias="Feature - Image alt tag" Level="2">
  <Info>
    <Name>Feature - Image alt tag</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Feature</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>