<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9491be95-22e5-4d31-9dfb-5639733c5d74" Alias="Feature - Image" Level="2">
  <Info>
    <Name>Feature - Image</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Feature</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>