<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fad834af-be20-463c-a640-b48122d3b88b" Alias="Features - Feature picker" Level="2">
  <Info>
    <Name>Features - Feature picker</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Feature</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feature",
      "ncTabAlias": "Content",
      "nameTemplate": "Feature - {{$index}} - {{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>