<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44edd82f-fcfc-4b0f-8417-a042b4eb3a7f" Alias="Feature - Title" Level="2">
  <Info>
    <Name>Feature - Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Feature</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>