<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75103b79-974b-4092-902c-3ee1b621446c" Alias="Grid layout - Default" Level="2">
  <Info>
    <Name>Grid layout - Default</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Grids</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "name": "1 col row",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ],
        "label": "Main content"
      },
      {
        "name": "2 col row",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>