<?xml version="1.0" encoding="utf-8"?>
<DataType Key="383bdcec-c140-4b87-b93e-7b02503e24d8" Alias="Infoblock - Container size - Dropdown" Level="2">
  <Info>
    <Name>Infoblock - Container size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Infoblock</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "container"
    },
    {
      "id": 2,
      "value": "container-fluid"
    },
    {
      "id": 3,
      "value": "container-edge-to-edge"
    }
  ]
}]]></Config>
</DataType>