<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f628fcb4-5612-400a-9b35-28f1c0677bd7" Alias="Infoblock - Type" Level="2">
  <Info>
    <Name>Infoblock - Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Infoblock</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "infoblock-a"
    },
    {
      "id": 2,
      "value": "infoblock-b"
    },
    {
      "id": 3,
      "value": "infoblock-c"
    }
  ]
}]]></Config>
</DataType>