<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bc7cb69-aa06-4b5b-84dd-163be5b096d4" Alias="Infoblock - Call to action test - Multi Url Picker" Level="2">
  <Info>
    <Name>Infoblock - Call to action test - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>CTA</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 4,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>