<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48cfd92a-ad41-4652-9f17-0152f5a6bbec" Alias="Infoblock - Call to action - Matryoshka Group Separator (1)" Level="2">
  <Info>
    <Name>Infoblock - Call to action - Matryoshka Group Separator (1)</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Infoblock</Folder>
  </Info>
  <Config><![CDATA[{
  "anchor": "0",
  "collapsible": "collapsibleClosedOnLoad"
}]]></Config>
</DataType>