<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0faedcd-1527-4bef-8e15-06a8107b073c" Alias="Mediapicker - Background" Level="2">
  <Info>
    <Name>Mediapicker - Background</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/d0f5f5c2aa224436bef0c214e75110d8",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>