<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9b5d5f8-f103-4916-845e-728d0bbed77b" Alias="Offset" Level="2">
  <Info>
    <Name>Offset</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 10.0,
  "InitialValue2": 0.0,
  "MinimumValue": -50.0,
  "MaximumValue": 50.0,
  "StepIncrements": 5.0
}]]></Config>
</DataType>