<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbbc13cb-b93d-480b-aa17-c2c4ad29627c" Alias="Opacity" Level="1">
  <Info>
    <Name>Opacity</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>