<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d014bcf-36e9-4dc2-8506-fa9949470de0" Alias="Padding - Seperator" Level="2">
  <Info>
    <Name>Padding - Seperator</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Seperators</Folder>
  </Info>
  <Config><![CDATA[{
  "anchor": "0",
  "collapsible": "collapsibleClosedOnLoad"
}]]></Config>
</DataType>