<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12628023-d18b-48a1-8ecf-9c2173fd55db" Alias="Parallax - Bg - Checkbox - Conditional Displayer" Level="2">
  <Info>
    <Name>Parallax - Bg - Checkbox - Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "parallaxBgPreset parallaxBgSpeed"
}]]></Config>
</DataType>