<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61abe0e2-8249-46a7-bef2-4a9c65461de5" Alias="Parallax - Preset - Dropdown" Level="2">
  <Info>
    <Name>Parallax - Preset - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 21,
      "value": "heroBgFall"
    },
    {
      "id": 19,
      "value": "bgFall"
    },
    {
      "id": 1,
      "value": "fall"
    },
    {
      "id": 2,
      "value": "driftLeft"
    },
    {
      "id": 3,
      "value": "driftRight"
    },
    {
      "id": 20,
      "value": "fadeInSlow"
    },
    {
      "id": 4,
      "value": "fadeIn"
    },
    {
      "id": 5,
      "value": "fadeOut"
    },
    {
      "id": 6,
      "value": "fadeInOut"
    },
    {
      "id": 7,
      "value": "leftToRight"
    },
    {
      "id": 8,
      "value": "rightToLeft"
    },
    {
      "id": 9,
      "value": "zoomInOut"
    },
    {
      "id": 10,
      "value": "zoomIn"
    },
    {
      "id": 11,
      "value": "zoomOut"
    },
    {
      "id": 12,
      "value": "swing"
    },
    {
      "id": 13,
      "value": "speedy"
    },
    {
      "id": 14,
      "value": "spinRev"
    },
    {
      "id": 15,
      "value": "spinIn"
    },
    {
      "id": 16,
      "value": "spin"
    },
    {
      "id": 17,
      "value": "lazy"
    },
    {
      "id": 18,
      "value": "linger"
    }
  ]
}]]></Config>
</DataType>