<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f7736b7-db3e-419c-88dd-1b8b8bf4c51f" Alias="Parallax - Image - Checkbox - Conditional Displayer" Level="2">
  <Info>
    <Name>Parallax - Image - Checkbox - Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "parallaxImagePreset"
}]]></Config>
</DataType>