<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37d8e33b-a00d-4da3-a56b-0a610322d609" Alias="Parallax - Enabled - Checkbox" Level="2">
  <Info>
    <Name>Parallax - Enabled - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Parallax enabled"
}]]></Config>
</DataType>