<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63246a79-7dc9-47b2-a6c4-6ca13b11c60a" Alias="Parallax - Horizontal - Checkbox" Level="2">
  <Info>
    <Name>Parallax - Horizontal - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Horizontal direction"
}]]></Config>
</DataType>