<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b26571f-adc2-4055-be36-3c71beeefbaa" Alias="Parallax - Vertical - Checkbox" Level="2">
  <Info>
    <Name>Parallax - Vertical - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "Vertical direction"
}]]></Config>
</DataType>