<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59abecc2-34a1-4fba-9125-037e05b30afa" Alias="Parallax" Level="2">
  <Info>
    <Name>Parallax</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "anchor": "0",
  "collapsible": "collapsibleClosedOnLoad"
}]]></Config>
</DataType>