<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b91ddc23-e7a7-45b4-a302-020c34888569" Alias="Parallax - Caption - Checkbox - Conditional Displayer" Level="2">
  <Info>
    <Name>Parallax - Caption - Checkbox - Conditional Displayer</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Parallax</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "parallaxCaptionPreset"
}]]></Config>
</DataType>