<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e19817c-33dc-4edf-b4c6-df831262a89a" Alias="Settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <EditorAlias>Our.Umbraco.Matryoshka.GroupSeparator</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Seperators</Folder>
  </Info>
  <Config><![CDATA[{
  "anchor": "0",
  "collapsible": "collapsibleClosedOnLoad"
}]]></Config>
</DataType>