<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69538342-1b44-4f55-908d-1dca9f2fdc97" Alias="Slick slider - Vertical scrolling - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Vertical scrolling - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Vertical scrolling"
}]]></Config>
</DataType>