<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6339972c-0eaf-4a42-aba1-5cf20cfd2dd8" Alias="Slick slider - Infinite - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Infinite - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Infinite loop"
}]]></Config>
</DataType>