<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6c92110-252d-41ba-8625-98ca25d5d53e" Alias="Slick slider - Draggable - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Draggable - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "Draggable"
}]]></Config>
</DataType>