<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da8b4974-27de-4660-a9dc-5c708176f400" Alias="Slick slider - Autoplay Speed - Slider" Level="2">
  <Info>
    <Name>Slick slider - Autoplay Speed - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 5000.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 50000.0,
  "StepIncrements": 1000.0
}]]></Config>
</DataType>