<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7476fb53-8256-4539-8d2f-0d85ce70fc93" Alias="Slick slider - dots - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - dots - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Show navigation dots"
}]]></Config>
</DataType>