<?xml version="1.0" encoding="utf-8"?>
<DataType Key="986c4518-b2f5-427d-bd47-0366f325b475" Alias="Slick slider - Touchmove - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Touchmove - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "Touchmove"
}]]></Config>
</DataType>