<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85dc686e-4450-4565-8740-e3ff65eb135b" Alias="Slick slider - Pause On Hover - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Pause On Hover - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Pause on hover"
}]]></Config>
</DataType>