<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d744a631-0ac1-43ce-a37d-2b92e06e2363" Alias="Slick slider - Arrows - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Arrows - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Arrow navigation"
}]]></Config>
</DataType>