<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ef60003-719c-4717-98d1-32705a2f2b9e" Alias="Slick slider - Transition speed - Slider" Level="2">
  <Info>
    <Name>Slick slider - Transition speed - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 500.0,
  "InitialValue2": 0.0,
  "MinimumValue": 100.0,
  "MaximumValue": 10000.0,
  "StepIncrements": 250.0
}]]></Config>
</DataType>