<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77df1ef4-95f4-428b-95a6-cf04b187ffcd" Alias="Slick slider - Slides - Nested Content" Level="2">
  <Info>
    <Name>Slick slider - Slides - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "slickSlide",
      "ncTabAlias": "Slide",
      "nameTemplate": "Slide - {{$index}} - {{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>