<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5653caac-188e-4965-b293-aa8e59bf000c" Alias="Slick slider - Swipe - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Swipe - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "Swipe"
}]]></Config>
</DataType>