<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6e5c9be-0ead-445a-a0f2-d5eafc6c3a66" Alias="Slick slider - Vertical - Checkbox" Level="2">
  <Info>
    <Name>Slick slider - Vertical - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Slick+slider</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": "Vertical transition"
}]]></Config>
</DataType>