<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b88b31b-2121-4b0e-8b68-5e07a75b067d" Alias="Slick slider - Slider type - Dropdown" Level="1">
  <Info>
    <Name>Slick slider - Slider type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "fullscreen"
    },
    {
      "id": 2,
      "value": "gallery-3"
    }
  ]
}]]></Config>
</DataType>