<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5e78383-8d76-4542-b0c4-020f45daa9b1" Alias="Styling - Background Size - Radio button list" Level="2">
  <Info>
    <Name>Styling - Background Size - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Base+layout+elements</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cover"
    },
    {
      "id": 2,
      "value": "Contain"
    },
    {
      "id": 4,
      "value": "Auto"
    }
  ]
}]]></Config>
</DataType>